  <div class="row-fluid">

      <h2>Login to Luna Rossa Mediaroom</h2>
      <%= form_tag create_session_path, :method => :post, :html => { :class => 'well form-inline' } do %>
        <fieldset>
          <div class="control-group <%= 'error' if flash[:alert].present? %>">
            <%= label_tag :email %>
            <div class="controls">
              <%= text_field_tag :email %>
              <% if flash[:alert].present? %>
                 <div class="alert alert-error"><%= flash[:alert] %></div>
              <% end %>
            </div>
            <div class="alert alert-info">

            <p>If you wish to subscribe, please subscribe to our <a href="/signup" target="_blank">media and press database</a></p>
</div>
          </div>
          <%= submit_tag 'Login' %>
        </fieldset>
      <% end %>
    </div>
