<div class="page-header">
  <h1>Videos</h1>
</div>
<ul class="thumbnails">
  <% @videos.each do |video| %>
    <li class="span3">
    <div class="thumbnail">
      <%= image_tag video.cover.url, :alt => video.description) %>
      <div class="caption">
        <%= content_tag :h5, video.description %>
        <%= content_tag :p, "#{video.city} - #{video.country}" %>
        <% 2.times do |i|%>
          <p><%= link_to video.send("attachment_#{i+1}_label"), download_attachment_video_path(video.id, :attachment => i+1), :class => "btn btn-danger" if video.send("attachment_#{i+1}").present? %></p>
        <% end %>
      </div>
    </div>
    </li>
  <% end %>
</ul>
<%= paginate @videos, :theme => 'application' %>
