<div class="page-header">
  <%= content_tag :h2, @gallery.title %>
</div>

<ul class="nav nav-pills">
  <%= content_tag :li, (link_to 'Prev', gallery_photo_path(@gallery.id, @photo.prev.id)) if @photo.prev.present? %>
  <%= content_tag :li, (link_to 'Next', gallery_photo_path(@gallery.id, @photo.next.id)) if @photo.next.present? %>
</ul>

<div class="row-fluid" style="margin-top:5px">
  <div class="span12">
    <%= image_tag @photo.image.url(:big) %>
  </div>
</div>
<%= content_tag :p, @photo.description %>
<%= content_tag :p, "Shot in #{@photo.city} (#{@photo.country})" %>
<%= content_tag :p, link_to('Download full size', download_gallery_photo_path(@gallery, @photo.id), :class => 'btn btn-danger btn-large', :target => '_blank') %>
