<div class="page-header">
  <h1>Photo Galleries</h1>
</div>
<ul class="thumbnails">
  <% @galleries.each do |gallery| %>
    <li class="span3">
    <div class="thumbnail">
      <% if gallery.cover.present? %>
      <%= link_to (image_tag gallery.cover.image.url(:preview), :alt => gallery.title), gallery_photos_path(gallery) %>
      <% end %>
      <div class="caption">
        <%= content_tag :p, gallery.gallery_date %>
        <%= content_tag :h5, gallery.title %>
        <%= content_tag :p, gallery.description %>
        <p><%= link_to 'View', gallery_photos_path(gallery), :class => "btn btn-danger" %></p>
      </div>
    </div>
    </li>
  <% end %>
</ul>
<%= paginate @galleries %>
