<!DOCTYPE html>
<html lang="it">
<head>
  <title>Luna Rossa Media Room</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <h4 class="alert-heading"><%= flash[:notice] %></h4>
  </div>
<% end %>

<div class="page-header">
  <h1><img src="/logolr.png"></h1>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <%= link_to "Media Room", root_path, :class => 'brand' %>
        <ul class="nav">
          <li class="<%= 'active' if controller.controller_name =~ /^galleries|photos$/ %>">
            <%= link_to 'Photos', galleries_path %>
          </li>
          <li class="<%= 'active' if controller.controller_name =~ /^videos$/ %>">
            <%= link_to 'Videos', videos_path %>
          </li>
        </ul>
        <%= form_tag search_path,:method => :get, :class => 'navbar-search pull-left' do %>
          <%= text_field_tag 'q', nil, :class => 'search-query', :placeholder => 'Search' %>
        <% end %>
        <ul class="nav pull-right">
          <% if current_user %>
            <li class="welcome"><p>Welcome <%= current_user.email %></p></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Exit', destroy_session_path %></li>
          <% else %>
            <li><%= link_to 'Login', new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%= yield %>
<footer class="footer">
  <p>© Copyright Luna Rossa Challenge 2013 srl - P. IVA 01500090533 | <a href="mailto:press.office@lunarossachallenge.com">CONTACT PRESS</a></p>
</footer>
</div>
</body>
</html>
